<div class="container">
  <h1>Contador con NgRx</h1>

  <app-counter-value></app-counter-value>

  <div class="buttons">
    <app-counter-increase></app-counter-increase>
    <app-counter-decrease></app-counter-decrease>
    <app-counter-reset></app-counter-reset>
  </div>

  <div class="charts">
    <mat-card>
      <mat-card-title>Gráfico de línea</mat-card-title>
      <mat-card-content>
        <app-chart-line></app-chart-line>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Gráfico de barras</mat-card-title>
      <mat-card-content>
        <app-chart-bar></app-chart-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
